@import "tailwindcss";

:root {
  --background: #28293f;
  --foreground: #ededed;

  font-size: 16px;   
}

@media screen and (min-width: 320px) {
  :root {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (2100 - 320)));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px; 
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #28293f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

p {
  margin: 0.5rem 0;
}

/* h1, h2, h3 {
  font-size: 2rem;
} */